# Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcodeproj/xcuserdata/
*.xcworkspace/
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# Build artifacts
build/
